<p>home works!</p>
<div class="text-center">

    <h1 class="display-4">

        Welcome to MyBank

    </h1>

    <p class="lead">

        Securely manage your finances.

    </p>

</div>

<div class="row mt-5">

    <div class="col-md-4">

        <div class="card shadow">

            <div class="card-body text-center">

                <h5>Check Balance</h5>

                <p>

                    View account balances.

                </p>

                <a routerLink="/accounts"
                   class="btn btn-primary">

                    Go

                </a>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow">

            <div class="card-body text-center">


                <h5>Transfer Money</h5>

                <p>

                    Move funds between accounts.

                </p>

                <a routerLink="/transfers"
                   class="btn btn-success">

                    Go

                </a>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow">

            <div class="card-body text-center">

                <h5>Transactions</h5>

                <p>

                    Review transaction history.

                </p>

                <a routerLink="/transactions"
                   class="btn btn-dark">

                    Go

                </a>

            </div>

        </div>

    </div>

</div>